body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:230px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
}
#u2 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:27px;
  top:283px;
  width:266px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
