body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:53px;
  top:90px;
  width:103px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:210px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
